canvas {
    width: 70%;
    background-color: beige;
    margin: 0px;
    padding: 0px;
}

button {
    color: #fff;
    background-color: #a3b9cf;
    width: 80px;
    height: 20px;
    vertical-align: middle;
    border-radius: 10px;
}

textarea {
    height: 20px;
    resize: none;
}


.generate {
    background-color: #eeeeee;
    display: inline-block;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: black;
}

.generate:hover {
    background-color: #aaaaaa;
}

.slider {
    width: 300px;
}
